* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
h1,
h2 {
  display: inline;
  font-weight: 300;
  line-height: 1.2;
}
img {
  /* Keeps Images in Their Container */
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.navbar {
  background-color: white;
  color: red;
  height: 60px;
  padding: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 2em;
}
.container {
  margin: 0 auto;
  padding: 0 40px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}
.navbar ul {
  display: flex;
  justify-content: space-around;
}
.navbar a:hover {
  border-bottom: white 3px solid;
}
.navbar a {
  margin: 0 1em;
  color: red;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  grid-gap: 3em;
  justify-items: center;
  margin-bottom: 2em;
}
.product-card {
  max-width: 200px;
  max-height: 200px;
  margin-bottom: 4em;
}
.product-details {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-height: 40px;
  text-align: center;
}
.product-price {
  background-color: #ed1c24;
  padding: 20px;
}
.product-name {
  background-color: #e2e2e2;

  display: flex;
  justify-content: center;
  align-items: center;
}
.new-product {
  background: #ed1c24;
  display: block;
  padding: 10px;
  color: white;
  margin-bottom: 10px;
}
.orders {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 2fr;
  background-color: #dfdbdb;
  border: 1px grey solid;
  text-align: center;
}
.order-id {
  padding: 40px 0;
}
.order-payment {
  padding: 40px 0;
  border-left: 1px solid grey;
}
.order-items {
  padding: 30px 0 0 0;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}
.order-price {
  padding: 40px 0;
}
.add-product-form {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 1em;
}
.add-product-form input {
  border-radius: 3px;
  padding: 10px;
}
.add-product-form button {
  background: #ed1c24;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 10px;
}
